body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grids-dark {
  background-image: url("/public/grids-dark.svg");
  background-color: oklch(0.269 0 0);
  background-attachment: fixed;
}

.grids-light {
background-image: url("/public/grids-light.svg");
background-color: oklch(0.9 0 0);
background-attachment: fixed;
}
